{{ partial "header.html" . }}
<body>
<div class="whole">
<header>
{{ partial "bannerimage.html" . }}

{{ partial "navbar.html" . }}
</header>

{{ .Content }}
{{ partial "footbanner.html" . }}
</div>
{{ partial "contactbutton.html" . }}
{{ partial "footer.html" . }}

<!-- <div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="well well-sm">
                    <h3>{{ .Title }}<br> <small>{{ .Description }}</small></h3>
                    <hr>
                    {{ .Content }}
            </div>
        </div>

       
    </div>

</div> -->