  

 
 <nav class="header-wrapper">
        <div class="page-header" role="banner">
           

            <div class="page-header-right">
                <div class="main-nav" role="navigation">
                <div id="menu-wrap">
                 <a class="logo" href="/"><img src="/img/newlogo.png" alt="Hydroterra Logo" /></a>
                 

                    <ul id="menu" >
                        <li><a href="/">Accueil</a></li>
                        <li><a href="/assainissement">Etude Assainissement</a>
                          <ul>
                            <li><a href="/assainissement/anc">Assainissement Non Collectif</a></li>
                            <li><a href="/assainissement/prestation">Nos prestation</a></li>
                            <li><a href="/assainissement/reglementation">Réglementation en vigueur</a></li>
                          </ul>
                        </li>
                        <li><a href="/phytoepuration">Etude Phytoépuration</a>
                          <ul>
                            <li><a href="#">Fonctionnement</a></li>
                            <li><a href="#">Réglementation</a></li>
                          </ul>
                        </li>
                        <li><a href="/toilettes">Toilettes sèches</a>
                          <ul>
                            <li><a href="#">Principe et fonctionnement</a></li>
                            <li><a href="#">Avec Séparation des Urines</a></li>
                            <li><a href="#">A Litiere</a></li>
                          </ul>
                        </li>  
                        <li><a href="/catalogue">Catalogue toilettes sèches</a></li>
                        <li><a href="/contact">Contact/Devis</a></li>
                      <li><a href="/liens">Liens </a></li>
                    </ul>
                    <div id="yeanay">
                     <ul id="menuup" >
                        <li><a href="/">Accueil</a></li>
                        <li><a href="/assainissement">Etude Assainissement</a>
                          <ul>
                            <li><a href="#">Assainissement Non Collectif</a></li>
                            <li><a href="#">Nos prestation</a></li>
                            <li><a href="#">Réglementation en vigueur</a></li>
                          </ul>
                        </li>
                        <li><a href="/phytoepuration">Etude Phytoépuration</a>
                          <ul>
                            <li><a href="#">Fonctionnement</a></li>
                            <li><a href="#">Réglementation</a></li>
                          </ul>
                        </li>
                        <li><a href="/toilettes">Toilettes sèches</a>
                          <ul>
                            <li><a href="#">Principe et fonctionnement</a></li>
                            <li><a href="#">Avec Séparation des Urines</a></li>
                            <li><a href="#">A Litiere</a></li>
                          </ul>
                        </li>  
                        <li><a href="/catalogue">Catalogue toilettes sèches</a></li>
                        <li><a href="/contact">Contact/Devis</a></li>
                      <li><a href="/liens">Liens </a></li>
                    </ul>
                    </div>
                     
                     </div>
                </div>

            </div>
        </div>
    </nav>
 
