<!DOCTYPE html>
<html lang="en">
<head>
	{{ partial "header.html" . }}
	<title>NOWC: Toilette sèches à séparation</title>
  <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
</head>
<body>
  {{ partial "navbar.html" . }}
<div class="first">
  <h2 class="begin-group">What’s Happening</h2>
  <ul>
    <li>
      <a href="courses/index.html">Winter 2015 course schedule</a>
    </li>
    <li>Tentative graduate course listing for <a href="/courses/s15"
    title="Spring 2015 grad courses">Spring 2015</a></li>
  </ul>

  

  <hr>
  <footer class="list-footer"><p>See <a href="/events/" title="Events
  archive">all events</a></p></footer>
</div>
{{ partial "footer.html" . }}
</body>
</html>
