<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>NOWC: Toilette sèches à séparation</title>



    
  



<link href="/css/style.css" rel="stylesheet" media="all" type="text/css"> 
</head>

<body>
  <div class="sup-top">
  <div class="top">
  <img class="top-img" src="/img/banner1333.jpg" >
  </div>
</div>
  <!-- <div class="w-row st01">
    <div class="w-col w-col-3 w-col-small-3 w-col-tiny-3"><img src="/img/logo_rectangleessai.jpg"></div>
    <div class="w-col w-col-9 w-col-small-9 w-col-tiny-9"><img src="/img/banner1000.jpg" ></div>
  </div> -->

   <!--  <div id="header">
    <img src="/img/banner.png" alt="" class="headerBg" />
   
   
</div>

    --> 
<!-- <div  >

 <h1 id="logo"><img src="/img/logo.png" id="logo-img">
 NOWC: Toilette sèches à séparation </h1>
 </div>  --> 
 <!-- <div id="header" >

 <h1><img src="/img/logo.png" id="logo-img">
 </h1><div id="logo-text" >NOWC: Toilette sèches à séparation</div>    
 </div>  -->       
   
<!--style="margin:150px auto 20px auto;"-->

<nav   id="menu-wrap">
  <ul id="menu" class="back-menu" >
    <li><a class="logo" href="/"><img src="/img/newlogo.png" alt="Hydroterra Logo" /></a></li>
    <li><a href="#">Accueil</a></li>
    <li><a href="/cata/presentation">ETUDE ASSAINISSEMENT</a>
      <ul>
        <li><a href="#">ETUDE PHYTOEPURATION</a>
          <ul>
            <li><a href="#">Modèle artisanal: la Sep</a></li>
            <li><a href="#">Modèle artisanal: la BIG Sep</a></li>
            <li><a href="#">Les toilettes sèches SEPARETT Villa</a></li>
            <li><a href="#">Les toilettes sèches SEPARETT Week End</a></li>
            <li><a href="#">Les toilettes sèches Séparante de BIOLAN</a></li>
            <li><a href="#">Les toilettes sèches Naturum BIOLAN</a></li>
          </ul>
        </li>
        <li><a href="#">Toilettes sèches à litière</a>
          <ul>
            <li><a href="#">Modèle artisanal: la BOX</a></li>
            <li><a href="#">Modèle artisanal: la BIG BOX</a></li>
          </ul>
        </li>
        <li><a href="#">Toilettes sèches à composteur</a>
          <ul>
            <li><a href="#">Les toilettes sèches WOST MAN ECOLOGY</a></li>
            <li><a href="#">Les toilettes sèches ECODOMEO</a></li>
            <li><a href="#">Les toilettes sèches Clivus Multrum</a></li>
          </ul>
        </li>
        <li><a href="#">Catalogue</a>
        </li>
      </ul>
    </li>  
    <li> <a href="#">Bon de Commande</a>
    </li>
    <li><a href="#">Liens/Documentation</a>
      
    <li><a href="#">Contact/Devis</a></li>
  </ul>
</nav> 

<!-- <div id="background">
      <img src="/img/banner.png" class="stretch" alt="" />
</div> -->





<div class="middletop-1">
<div class="middle-1">

<!-- <br />
<div class="title-big" id="back1">

<a ><strong>BIENVENUE SUR LE SITE D'HYDROTERRA <br />Bureau d'études en environnement</a>


</div> -->
</div>
<br />
<br />
</div>
<!-- <div >
<img class="middle-img-left" title="Photo AP.SANDFORD" src="img/ronalp_num_10032a.jpg" alt="" width="348" height="232" /><strong>Hydroterra est basé à Modane, au coeur de la vallée de la Maurienne en Savoie.</strong> 
<ul>
</ul>
Etude de filière en Assainissement Non Collectif dans le cadre de certificat d'urbanisme (CU), permis de construire (PC), réhabilitation d'un assainissement, rénovation d'un chalet, etc...                                               
<ul>
</ul>
Phytoépuration pour les eaux ménagères                                               
<ul>
</ul>
Conseil, formation et vente de toilettes sèches                                               
<ul>
</ul>
<strong>Hydroterra est adhérent de la Charte du département de la Savoie pour la promotion d'un "assainissement non collectif de qualité".</strong><br /><br /><br />
</div> -->



<div class="middletop-2">
<div class="middle-2">
<!-- <div class="title">
<br />
<strong>NOS COMPETENCES</strong>
</div>
<br /> -->
 <div class="col">
 <div class="scol scol-01 "></div>
 
    

 <div class="title">

<strong>NOS COMPETENCES</strong>
</div>

    <div class="scol scol-20 "><div class="cadre80"><div class="legend-top  assaini"><img src="/img/100_2716.jpg" alt="" ><span>Etude assainissement</span><!-- <br /><a href=><span >Etude assainissement</span></a> --></div></div></div>
    <div class="scol scol-20 "><div class="cadre80"><div class="legend-top toilette"><img src="/img/100_3750.jpg" alt=""  ><span>Toilettes sèches</span><!-- <br /><a href=><span >Toilettes sèches</span></a> --></div></div></div>
    <div class="scol scol-20 "><div class="cadre80"><div class="legend-top  phyto"><img src="/img/phyto.jpg" alt="" ><span>Phytoépuration</span><!-- <br /><a href=><span >Phytoépuration</span></a> --></div></div></div>
<!-- 
    <div class="scol scol-4 "><img src="/img/pelleteuse-marron.png" alt="" ><br /><a href=><span >Etude assainissement</span></a></div>
    <div class="scol scol-4"><img src="/img/toilet.png" alt=""  ><br /><a href=><span >Toilettes sèches</span></a></div>
    <div class="scol scol-4"><img src="/img/rosseau-vert.png" alt="" ><br /><a href=><span >Phytoépuration</span></a></div> -->
  </div> 
<!-- <tr>
<td ><a href=><span >Etude assainissement</span></a></td>
<td ><a href=><span >Toilettes sèches</span></a></td>
<td ><a href=><span >Phytoépuration</span></a></td>
</tr>
<tr>
<td ><img  src="img/100_2716.jpg" alt="" width="115" height="153" /></a></td>
<td ><img  src="img/100_3750.jpg" alt="" width="115" height="153" /></a></td>
<td ><img  src="img/phyto.jpg" alt="" width="116" height="153" /></a></td>
</tr> -->
</div>
</div>

<div class="scol scol-20 "><div class="title">

<strong>REGION</strong>
</div><img class="middle-img-left boxed" title="Photo AP.SANDFORD" src="img/ronalp_num_10032a.jpg" alt="" /><br /><strong>Hydroterra est basé à Modane, au coeur de la vallée de la Maurienne en Savoie.</strong> 
<ul>
</ul>
Etude de filière en Assainissement Non Collectif dans le cadre de certificat d'urbanisme (CU), permis de construire (PC), réhabilitation d'un assainissement, rénovation d'un chalet, etc...                                               
<ul>
</ul>
Phytoépuration pour les eaux ménagères                                               
<ul>
</ul>
Conseil, formation et vente de toilettes sèches                                               
<ul>
</ul>
<strong>Hydroterra est adhérent de la Charte du département de la Savoie pour la promotion d'un "assainissement non collectif de qualité".</strong></div>

<!-- OWL-BEGIN -->
<!-- <div id="owl-example" class="owl-carousel owl-theme">
     <div class="item"><img src="/img/banner.png" ></div>
    <div class="item"><img src="/img/1.jpg" ></div>
    <div class="item"><img src="/img/2.jpg" ></div>
    <div class="item"><img src="/img/3.jpg" ></div>
    <div class="item"><img src="/img/4.jpg" ></div>
     
</div> -->
<!-- OWL-END -->



<!-- {{ if isset .Site.Taxonomies.categories "catalogue" }}
{{ range first 1 .Site.Taxonomies.categories.catalogue.Pages }}
<article id="content">
 <h2 >{{ .Title }}</h2>
 
 {{ .Content }}
<hr>
</article>
{{ end }}
{{ end }} -->
<script src="/js/jquery-2.1.3.min.js"></script>
<script src="/js/script.js"></script>
    <!-- Important Owl stylesheet -->
    <!-- <link rel="stylesheet" href="/css/owl.carousel.css"> -->
     
    <!-- Default Theme -->
    <!-- <link rel="stylesheet" href="/css/owl.theme.css"> -->
     
    <!-- Include js plugin -->
    <script src="/js/owl.carousel.js"></script>
</body>
</html>